/* Animation */
.js-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}
.js-scroll.scrolled {
  opacity: 1;
  transform: translateY(0);
}
.scrolled.fade-left {
  animation: fadeleft 800ms ease forwards;
}
.scrolled.fade-right {
  animation: faderight 800ms ease forwards;
}
.scrolled.fade-top {
  animation: fadetop 800ms ease forwards;
}
.scrolled.fade-btm {
  animation: fadebtm 800ms ease forwards;
}
@keyframes fadeleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes faderight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadetop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadebtm {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Project Section */
.project{
    padding: 1em 0 6em 0;
    color: #fff;
}
.project-title{
  text-align: center;
  margin: 3em 0 2em 0;
}
.project-title1{
    color: #E5E7EB;
    font-weight: 500;
}
.project-title2{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #9ca3af;
}
/* Projects Cards */
.card{
    width: 21em;
    border: 1px solid rgb(131 219 255/1);
    margin: 1em;
}
#card-project:hover{
  transform: translate(0, -10px);
  transition: .4s all;
}
.card-title{
  color: rgb(131 219 255/1);
}
.card .body-flex{
    height: 140px;
    overflow: auto;
}
/* Overflow Style */
.card .body-flex::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background: bottom;
	border-radius: 10px;
}
.card .body-flex::-webkit-scrollbar{
	width: 7px;
	background: bottom;
}
.card .body-flex::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: rgb(90, 159, 186);
}
.card-link{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1em;
}
.lang{
  margin-top: 1em;
}
.lang-tool{
    font-size: 13px;
    font-family: monospace;
    color: #abadb0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}
.lang-tool #icon-lang{
  font-size: 20px;
}
.demo{
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
}
.fa-link{
  color: rgb(131 219 255/1);
}
#project-card{
    margin: 1em;
}
#card-project{
    background-color: #303844;
}
.card-text{
  font-size: .875rem;
    line-height: 1.25rem;
    color: rgb(156 163 175/1);
    font-family: monospace;
}
.link{
    margin-right: 1em;
    font-size: 20px;
    color: #fff;
}
#link:hover{
    color: rgb(131 219 255/1);
    transition: .5s all;
}
.fa-solid:hover{
  color: rgb(131 219 255/1);
    transition: 1s all;
}

/* Show Btn */
#show-button{
  width: 11em;
  height: 4em;
  margin: 1em auto;
  background: center;
  border: 2px solid rgb(131 219 255/1);
  padding: 16px;
}
/* Hide Btn */
#hide-button {
  width: 11em;
  height: 4em;
  margin: 1em auto;
  background: center;
  border: 2px solid rgb(131 219 255/1);
  padding: 16px;
}
#show-button:hover, #hide-button:hover{
  background: rgb(131 219 255/.25);
  transition: .5s all ease-in;
}
/* Card Hide Section */
#images {
  display: none;
}

#card-project {
  position: relative;
}

.item {
  border-radius: 10px;
  height: 300px;
  width: 100%;
  position: relative;
  transition: all 10s ease;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.item .item-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 5px;
  background: rgb(54 55 55 / 64%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 0;
}

.item:hover .item-overlay {
  opacity: 1;
  left: 0;
  text-decoration: none;
}

.link-text {
  font-size: 20px;
  color: #fff;
}



@media (max-width: 472px){ 
.md\:overflow-auto {
    overflow: auto;
    height: 9em;
}
}