* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('https://img.icons8.com/arcade/40/cursor.png'), auto;
}
html, body{
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39/var(--tw-bg-opacity));
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); 
  z-index: 97; 
  display: block;
  pointer-events: auto;
}



#particles{
  height:100%;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1s;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1s;
}
.ParticleBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header{
  /* background-image: linear-gradient(to top, rgb(0,0,0,0.5)70%, rgb(0,0,0,0.5)30%),url(../photo/back.jpg); */
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  height: 47.1em;
  background-size: cover;
  background-position: center;
}
.offcanvas-header {
  display: flex;
  justify-content: flex-end;
}

.button1 {
  position: relative;
  width: 6em;
  height: 7em;
  border: none;
  background: none;
}
#close{
  font-size: 2.4em;
    color: #0dcaf0;
}
.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  padding: 1em !important;
  position: relative;
  z-index: 1;
}
.offcanvas{
  background-color: rgb(20 31 54);
  width: 50% !important;
}
.nav-item{
  margin-left: 1.5em;
}
.toggle-button {
  display: none;
}
.num{
  font-size:15px;;
  color: rgb(131 219 255/1);
  display: flex;
  flex-direction: row-reverse;
  font-weight: 600;
  font-family: monospace;
}
.navbar h3 a {
  color: #fff;
  font-size: calc(0.5vw + 20px);
}
.navbar h3 a:hover{
  text-decoration: none;
}



.blur-background {
  filter: blur(5px);
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000;
}

.blurred {
  filter: blur(5px); 
}

.navbar nav {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.nav-link:hover{
  color: rgb(131 219 255/1);
}
.nav-link:focus {
  color:  rgb(131 219 255/1) !important;
}
.navbar a {
  color: #b8b6b6;
  font-size: calc(0.35vw + 12px);
  padding: 2px;
  text-decoration: none;
}
.navbar-brand{
  font-family: 'toyor-aljanah';
}
.navbar a:hover {
  --tw-text-opacity: 1;
  color: rgb(131 219 255/var(--tw-text-opacity));
}
.nav-link{
  text-align: end;
}
.nav-link.active{
  color:  rgb(131 219 255/1) !important;
}
.nav-item.active{
  color:  rgb(131 219 255/1) !important;
}
.collapse{
  direction: rtl;
}
.navbar-nav{
  direction: ltr;
  margin: 1em auto;
  align-items: center;
}
.navbar-toggler{
  border: 0;
  font-size: 1.7em;
  color: #0dcaf0;
}
.navbar-toggler:focus{
  border: 0;
}
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.leFadeIn { animation-name: leFadeIn }
@keyframes leFadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}
.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
/* Home */
.home {
  color: #fff;
  margin: 6em auto;
  text-align: left; 
  padding: 0 2%;
  height: 66vh;
}
#home{
  margin-top: -4em !important;
}
.p {
  color: rgb(131 219 255/1);
  padding-bottom: 0.3em;
}

.name {
  font-size: 5vw; 
  font-family: 'elmessiri-bold';
}

.title {
  opacity: 0.7;
  font-weight: 600;
  font-size: 4vw; 
}

h2 {
  padding: 1em 0;
}
.button {
  width: 11.4em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #0dcaf0;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  
}

.button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: rgb(17 24 39/1);
  transition: 0.5s;
  transform-origin: center;
}

.button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: rgb(17 24 39/1);
  transition: 0.5s;
}

.button:hover::before, .button:hover::after {
  transform: scale(0)
}

.button:hover {
  box-shadow: inset 0px 0px 25px rgb(131 219 255 / 37%);
}
#footer-home{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}
/* Reset default margin and padding for footer */
footer {
  margin: 2em auto;
  padding-bottom: 2em;
}

/* Center the social icons */
.social-icons {
  text-align: center;
  position: relative;
}

/* Add spacing between the social icons */
.social-icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #fff;
}
#iconi:hover{
  color: rgb(131 219 255/1);
  /* scale: 1.2; */
  transform: translateY(-6px);
  transition-duration: 0.5s;
}
/* Style the lines using ::before and ::after pseudo-elements */
.social-icons::before, .social-icons::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 38%;
  height: 1px;
  background-color: #ccc;
}

.social-icons::before {
  left: 0;
}

.social-icons::after {
  right: 0;
}

.element {
  cursor: grab;
}
#icons{
  margin-top: 2em;
  margin-left: -1em;
  position: relative;
  z-index: 1;
}
.social-icon11{
  margin-right: 0.7em;
  color: #fff;
  font-size: 25px;
}
#icon-i:hover{
  transform: translateY(-6px);
  transition-duration: 0.5s;
}
@media (max-width: 1000px) {
  .toggle-button {
    display: block;
    margin: 10px 0; 
  }
}
@media (max-width: 992px) {
  .social-icons::before,
  .social-icons::after {
    width: 34%;
  }
}

/* Add the media query for medium-sized screens (768px - 992px) */
@media (max-width: 768px) {
  .social-icons::before,
  .social-icons::after {
    width: 24%;
  }
}

/* Add the media query for smaller screens (less than 768px) */
@media (max-width: 768px) {
  /* Adjust the dimensions and styles of other elements here if needed */
  .name {
    font-size: 6vw;
  }

  .title {
    font-size: 5vw;
  }
}
@media (max-width: 675px) {
  .navbar {
      flex-direction: column;
  }
  .name{
    font-size: 3em;
  }
  .offcanvas{
    width: 70% !important;
  }
}
@media (max-width: 480px) {
  .navbar {
      flex-direction: column;
  }
  .hero-section .text-container {
     width: 99%;
     padding: 0 14px;
  }
  .offcanvas{
    width: 70% !important;
  }
}
@media (max-width: 425px) {
  .navbar {
      flex-direction: column;
  }
  .hero-section .text-container {
     width: 99%;
     padding: 0 14px;
  }
  .offcanvas{
    width: 70% !important;
  }
}
@media (max-width: 320px) {
  .navbar {
      flex-direction: column;
  }
  .hero-section .text-container {
      width: 99%;
      padding: 0 14px;
 }
 .offcanvas{
  width: 70% !important;
}
}